<%= render :partial => 'toolbar/logo', :locals => {:subject => current_subject} %>

<div class="block space_center">
</div>

<div id="menu_lateral" class="toolbar_menu">
    <%= yield(:toolbar_menu).empty? ? home_toolbar_menu : yield(:toolbar_menu)%>
<p>Aqui va esto</p>
</div>

<div class="block space_center">
</div>
