.bundle
.DS_Store
index
.project
.loadpath
log/*.log
*kpf
tmp/*
config/database.yml
config/ultrasphinx/*conf
attachments/*
public/images/tmp/*
spec/reports
**.tmp_*
**/*~
**/**/*~
**/**/**/*~
**/**/**/**/*~
config/locales/log
.svn
config/initializers/mail_conf.rb
db/*sqlite3
global3/
.settings/
.rakeTasks
public/system
