<% cont=0; %>

<% Space.alphabetic.all.each do |space| %>

	<% if (cont%2) == 0
			cont+=1; %>
	  	<div class="wrap_post">
	<% end %>

			<div class="post_browse">
			<div class="post_picture"><%= link_to (image_tag(space.logo , :size => "50x50", :alt => space.name )),home_path  %></div>
			<div class="post_browse_content_people content_size">
				<div class="post_browse_title content_size" ><a href="myprofile.htm"><%=space.name%></a></div>
				<div class="content_size">+  <%= link_to "Follow",
                                ties_path("tie[sender_id]" => current_user.actor.id,
                                          "tie[receiver_id]" => space.actor.id,
                                          "tie[relation_name]" => "follower"),
                                :method => :post,
                                :remote => true %></div>
			</div>
			</div>

	<% if ((cont%2) == 0) 	%>
			</div>
	<% end %>

<% end %>


<% if ((cont%2) != 0) 	%>
		</div>
<% end %>

