/****************** WALL DIV *********************/
#wrapper_activities {

}

#wall{
	text-align:center;
}

/****************** WALL - HEADER *********************/

#wrapper_activities_header {
	padding-top: 5px;
  padding-bottom: 5px;
	background-color: #deeff8;
}


.input_activities{
	border:1px solid #BDC7D8;
	width:98%;
	padding: 2px;
}

/****************** WALL - ACTIVITIES *********************/
.activity {
	text-align:left;
	display: block;
	vertical-align: top;
	padding: 10px 5px 0px 0px;
	display: inline-block;
	color: #000;
	width: 87%;
  font-size: 13px;
}



/******************* WALL - ACTIVIY ***************/

.actor_logo {
	width: 55px;
	padding: 10px 0px 10px 5px;
	display: inline-block;
	vertical-align: top;
}

