#wrapper_activities {
	
}

#wall{
	text-align:center;
}


.input_new_comments{
	border:1px solid #BDC7D8;
	width:98%;
	padding: 2px;
}

.comment{
	display:inline-block;
}
.like{
	display:inline-block;
}
.delete{
	display:inline-block;
}

.like_comment{
	display: inline-block;
}
.delete_comment{
	display:inline-block;
}


#wrapper_activities_header {
	padding-top: 5px;
  padding-bottom: 5px;
	background-color: #deeff8;
}

#activities_title {
	vertical-align: top;
	margin-left: 10px;
	font-weight: bold;
}

#activities_header {
	width: 100%;
	margin-bottom: 5px;
	text-align: center;
	padding-top: 5px;
}

#input_activities {
	border-color: #0656a4;
	color: #2A3890;
	padding: 5px 5px 5px 5px;
  border:1px solid #BDC7D8;
	width:95%;
}

#activities_share_btn {
	text-align: right;
	padding: 5px 16px 0px 10px;
	vertical-align: middle;
}

.activities_comment_btn{
    text-align: right;
    padding: 2px 5px 2px 10px;
    vertical-align: middle;    
}

.widget {
	padding: 5px;
	background: #fff;
}

.widget a {
	text-decoration: none;
}

.widget a:hover {
	text-decoration: underline;
}

.tabnav li {
	display: inline;
	list-style: none;
	padding-right: 5px;
}

.tabnav li a {
	text-decoration: none;
	padding: 4px 4px;
	outline: none;
}

.tabnav li a:hover,.tabnav li a:active,.tabnav li.ui-tabs-selected a {
	background: #deeff8;
	font-weight: bold;
	text-decoration: none;
}

.tabdiv {
	margin-top: 2px;
	background: #fff;
	/*border-top: thin solid #D4E4EA;*/
	padding: 5px 0px 5px 0px;
}

.tabdiv_upcomming {
  margin-top: 2px;
  background: #fff;
  border: thin solid #D4E4EA;
  padding: 5px 0px 5px 0px;
}

#hide_evento{
	display: none;
}


.ui-tabs-hide {
	display: none;
}

/****************** POST - ACTIVITIES *********************/
.post {
	text-align:left;
	display: block;
	vertical-align: top;
}

.content_post {
	padding: 10px 5px 0px 0px;
	display: inline-block;
	color: #000;
	width: 87%;
}

.content_comment {
	padding: 5px 5px 5px 5px;
	display: inline-block;
	color: #000;
	width: 84%;
}

.content_agenda {
  padding: 10px 10px 10px 5px;
  display: inline-block;
	text-align:justify;
  
  
}

.post_options_follower {
	color: #2A3890;
	font-size: 10px;
	padding-top:5px;
	padding-bottom:5px;	
}

.post_options_comments {
	color: #2A3890;
	font-size: 10px;
}

.subactivity_content_comments {
	font-size: 10px;
	color: #000;
	font-weight:normal;
}



.content_post_follower a {
	color: #2A3890;
}


.post_time_ago {
	color: #6c6d6f;
}

.picture_follower {
	width: 55px;
	padding: 10px 0px 10px 5px;
	display: inline-block;
	vertical-align: top;
}

.picture_follower_comment {
	width: 25px;
	padding: 5px 0px 2px 0px;
	display: inline-block;
	vertical-align: top;
}

.name_follower {
	font-weight: bold;
	color: #2A3890;
}

.content_sub_post {
	font-size: 11px;
	padding-left: 5px;
}

.coment_border {
	background: #deeff8;
	border: thin solid #D4E4E4;
}

.space_comments {
	padding-top: 1px;
	padding-bottom: 1px;
}

.space_activities {
	text-align:center;
	padding: 0px 0px 0px 1px;
	width:100%;
}

.space_sub_activities{
	padding: 1px 30px 0px 30px;
	border-bottom: thin solid #D4E4E4;
	width:100%;
	text-align:center;
	display: inline;
}
.space_sub{
	display: inline;
	padding: 1px 200px 1px 200px;
	border-bottom: thin solid #D4E4E4;
	font-size: 2px;
	text-align:center;
}

.input_comments {
	border-color: #0656a4;
	color: #2A3890;
	padding: 2px 5px 2px 5px;
	border: 1px inset;
}

.coment_field {
	padding: 5px 0px 5px 0px;
}