.tabinfo li {
	display: inline;
	list-style: none;
	padding-right: 2px;
}

.tabinfo li a {
	text-decoration: none;
	padding: 4px 3px;
	outline: none;
}

.tabinfo li a:hover,.tabinfo li a:active,.tabinfo li.ui-tabs-selected a
	{
	background: #deeff8;
	font-weight: bold;
	text-decoration: none;
}

.tabinfo {
	margin-top: 2px;
	background: #fff;
	/*border-top: thin solid #D4E4EA;*/
	padding: 2px 0px 2px 0px;
}

.tabinfo fondo {
	background: transparent url(../images/title_background.png) scroll 0px;
}
/****************** POST - ACTIVITIES *********************/
