<div id="rightContent">
                    <div class="right_title">
                    	Top Conferences
                    </div>
                    <div class="space_center">
                    </div>
                            <div class="conference_right">
                                <div>
																	<%= link_to( image_tag("videos/1.png", :alt => "eventoX"), spaces_path ) %>
                                </div>
                                <div>
                                    <span class="title_conference ">Video XYZ-1</span>
                                    <br/>
                                    <span class="conference_content">15 views
                                        <br/>
                                        Morfeo Chief
                                    </span>
                                </div>
                            </div>
                    <div class="space_center">
                    </div>
                    <div class="space_center">
                    </div>
                            <div class="conference_right">
                                <div>
                                    <a href="evento.htm"><img src="images/videos/2.png" alt="exit" /></a>
                                </div>
                                <div>
                                    <span class="title_conference">Video XYZ-2</span>
                                    <br/>
                                    <span class="conference_content">97 views
                                        <br/>
                                        Antonio Mendo
                                    </span>
                                </div>
                            </div>
                    <div class="space_center">
                    </div>
                            <div class="conference_right">
                                <div>
                                    <a href="evento.htm"><img src="images/videos/1.png" alt="exit" /></a>
                                </div>
                                <div>
                                    <span class="title_conference">Video XYZ-3</span>
                                    <br/>
                                    <span class="conference_content">56 views
                                        <br/>
                                        Tito Vasquez
                                    </span>
                                </div>
                            </div>
                    <div class="space_center">
                    </div>
                </div>