<div id="categories">
		<div id="title-categories" class="content_size">
				Categories
		</div>
		<div id="content-categories">
				<div class="item-category content_size">
						<img src="images/point_blue.png" alt="blue_button" /><a href="#">Arquitectura(4)</a>
				</div>
				<div class="item-category content_size">
						<img src="images/point_blue.png" alt="blue_button" /><a href="#">Biology(2)</a>
				</div>
				<div class="item-category content_size">
						<img src="images/point_blue.png" alt="blue_button" /><a href="#">Business(59)</a>
				</div>
				<div class="item-category content_size">
						<img src="images/point_blue.png" alt="blue_button" /><a href="#">Chemistry(7)</a>
				</div>
				<div class="item-category content_size">
						<img src="images/point_blue.png" alt="blue_button" /><a href="#">Computers(4)</a>
				</div>
				<div class="item-category content_size">
						<img src="images/point_blue.png" alt="blue_button" /><a href="#">Computer Science(4)</a>
				</div>
				<br/>
				<div class="item-category content_size">
						<img src="images/point_blue.png" alt="blue_button" /><a href="#">Criminology(4)</a>
				</div>
				<div class="item-category content_size">
						<img src="images/point_blue.png" alt="blue_button" /><a href="#">Economics(7)</a>
				</div>
				<div class="item-category content_size">
						<img src="images/point_blue.png" alt="blue_button" /><a href="#">Education(16)</a>
				</div>
				<div class="item-category content_size">
						<img src="images/point_blue.png" alt="blue_button" /><a href="#">Enviroment(4)</a>
				</div>
				<div class="item-category content_size">
						<img src="images/point_blue.png" alt="blue_button" /><a href="#">Events(4)</a>
				</div>
				<div class="item-category content_size">
						<img src="images/point_blue.png" alt="blue_button" /><a href="#">History(4)</a>
				</div>
				<br/>
				<div class="item-category content_size">
						<img src="images/point_blue.png" alt="blue_button" /><a href="#">Humanities(4)</a>
				</div>
				<div class="item-category content_size">
						<img src="images/point_blue.png" alt="blue_button" /><a href="#">Medicine(4)</a>
				</div>
				<div class="item-category content_size">
						<img src="images/point_blue.png" alt="blue_button" /><a href="#">Regional(4)</a>
				</div>
				<div class="item-category content_size">
						<img src="images/point_blue.png" alt="blue_button" /><a href="#">Science(4)</a>
				</div>
				<div class="item-category content_size">
						<img src="images/point_blue.png" alt="blue_button" /><a href="#">History(4)</a>
				</div>
				<div class="item-category content_size">
						<img src="images/point_blue.png" alt="blue_button" /><a href="#">Society(4)</a>
				</div>
				<div class="item-category content_size">
						<img src="images/point_blue.png" alt="blue_button" /><a href="#">Technology(4)</a>
				</div>
		</div>
</div>