
                <div id="middleContent">
                    <div class="space_center">
                    </div>
                    <div class="space_center">
                    </div>
                    <div class="space_center">
                    </div>
                    <div class="future_conference">
                        <div class="future_header">
                            <img src="images/keynote.png" alt="keynote" />
                            <div class="future_text_header">
                                Top Keynotes
                            </div>
                            <div class="title_righ">
                                <a href="#">Ver Todas</a>
                            </div>
                        </div>
                        <div class="post_future_conference">
                            <div class="future_content">
                                <div class="future_picture">
                                    <a href="myprofile.htm"><img src="images/contacts/3.png" /></a>
                                </div>
                                <div class="future_description">
                                    <div class="future_link">
                                        <a href="myprofile.htm">Joaquin Bilumbrales</a>
                                    </div>
                                    <div class="future_details">
                                        <span class="future_brief">(2 lectures) <br />18 a単os <br /> Ing. Quimico
                                         </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post_future_conference">
                            <div class="future_content">
                                <div class="future_picture">
                                    <a href="myprofile.htm"><img src="images/contacts/2.png" /></a>
                                </div>
                                <div class="future_description">
                                    <div class="future_link">
                                        <a href="myprofile.htm">Joaquin Bilumbrales</a>
                                    </div>
                                    <div class="future_details">
                                        <span class="future_brief">(2 lectures) <br />18 a単os <br /> Ing. Quimico
                                         </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="future_conference">
                        <div class="future_header">
                            <img src="images/keynote.png" alt="keynote" />
                            <div class="future_text_header">
                                Top Lectures
                            </div>
                            <div class="title_righ">
                                <a href="#">Ver Todas</a>
                            </div>
                        </div>
                        <div class="post_future_conference">
                            <div class="future_content">
                                <div class="future_picture">
                                    <a href="myprofile.htm"><img src="images/contacts/3.png" /></a>
                                </div>
                                <div class="future_description">
                                    <div class="future_link">
                                        <a href="myprofile.htm">Joaquin Bilumbrales</a>
                                    </div>
                                    <div class="future_details">
                                        <span class="future_brief">(2 lectures) <br />18 a単os <br /> Ing. Quimico
                                         </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post_future_conference">
                            <div class="future_content">
                                <div class="future_picture">
                                    <a href="myprofile.htm"><img src="images/contacts/2.png" /></a>
                                </div>
                                <div class="future_description">
                                    <div class="future_link">
                                        <a href="myprofile.htm">Joaquin Bilumbrales</a>
                                    </div>
                                    <div class="future_details">
                                        <span class="future_brief">(2 lectures) <br />18 a単os <br /> Ing. Quimico
																				 </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="hiddenMiddle">
                </div>
