<div id="rightContent">
		<div id="space_center">
		</div>
		<div id="logo1">
				<a href="espacio.htm"><img src="images/spaces/1.png" alt="E-IRG" /></a>
		</div>
		<div id="tabright1" class="widget">
				<ul class="tabinfo fondo">
						<li>
								<a href="#info_1">Information</a>
						</li>
						<li>
								<a href="#tag_1"><img src="images/buttons/btn_tag.png" alt="Tags" />Tags</a>
						</li>
				</ul>
				<div id="info_1" class="tabinfo">
						Grupo de investigaicon de infraestraturas y desarrollo
				</div>
				<!--/popular-->
				<div id="tag_1" class="tabinfo">
						tag1, tag2, tag3, tag4, tag5
						tag6, tag7, tag8, tag9, tag10
				</div>
		</div>
		<div class="space_center">
		</div>
		<div class="space_center">
		</div>
		<div id="logo2">
				<a href="espacio.htm"><img src="images/spaces/1.png" alt="DIT" /></a>
		</div>
		<div class="tabright" class="widget">
				<ul class="tabinfo fondo">
						<li>
								<a href="#info_2">Information</a>
						</li>
						<li>
								<a href="#tag_2"><img src="images/buttons/btn_tag.png" alt="Tags" />Tags</a>
						</li>
				</ul>
				<div id="info_2" class="tabinfo">
						Grupo de Investigación de telematica
				</div>
				<!--/popular-->
				<div id="tag_2" class="tabinfo">
						tag1, tag2, tag3, tag4, tag5
						tag6, tag7, tag8, tag9, tag10
				</div>
		</div>
		<div class="space_center">
		</div>
		<div id="logo3">
				<a href="espacio.htm"><img src="images/spaces/3.png" alt="ISABEL" /></a>
		</div>
		<div id="tabright3" class="widget">
				<ul class="tabinfo fondo">
						<li>
								<a href="#info_3">Information</a>
						</li>
						<li>
								<a href="#tag_3"><img src="images/buttons/btn_tag.png" alt="Tags" />Tags</a>
						</li>
				</ul>
				<div id="info_3" class="tabinfo">
						gRUPO DE investigación de Videoconferencias
				</div>
				<!--/popular-->
				<div id="tag_3" class="tabinfo">
						tag1, tag2, tag3, tag4, tag5
						tag6, tag7, tag8, tag9, tag10
				</div>
		</div>
		<div class="space_center">
		</div>
</div>