<div id="my_conferences">
    <div id="tabconferences" class="widget content_size">
        <ul class="tabconference">
            <li>
                <a href="#title-conferences">Conferences</a>
            </li>
            <li>
                <a href="#title-top-conferences">Top World Conferences</a>
            </li>
        </ul>
        <div id="title-conferences" class="tabconference">
            <div class="conferencex">
                <div>
                    <a href="evento.htm"><img src="images/videos/1.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference content_size">Video XYZ-1</span>
                    <br/>
                    <span class="conference_content">15 views 
                        <br/>
                        Morfeo Chief
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento.htm"><img src="images/videos/2.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference content_size">Video XYZ-2</span>
                    <br/>
                    <span class="conference_content">97 views 
                        <br/>
                        Antonio Mendo
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento.htm"><img src="images/videos/1.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference content_size">Video XYZ-3</span>
                    <br/>
                    <span class="conference_content">56 views 
                        <br/>
                        Tito Vasquez
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento.htm"><img src="images/videos/2.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference content_size">Video XYZ-4</span>
                    <br/>
                    <span class="conference_content">34 views 
                        <br/>
                        Juan Quemada
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div id="conference_next">
                    <img src="images/next_conference.png" alt="next conference" />
                </div>
            </div>
        </div>
        <div id="title-top-conferences" class="tabconference">
            <div class="conferencex">
                <div>
                    <a href="evento.htm"><img src="images/videos/1.png" alt="exit" /></a>
                </div>
                <div>
                    <span clarr="title_conference">Video XYZ-1</span>
                    <br/>
                    <span class="conference_content">15 views 
                        <br/>
                        Morfeo Chief
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento.htm"><img src="images/videos/2.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference">Video XYZ-2</span>
                    <br/>
                    <span class="conference_content">97 views 
                        <br/>
                        Antonio Mendo
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento.htm"><img src="images/videos/1.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference">Video XYZ-3</span>
                    <br/>
                    <span class="conference_content">56 views 
                        <br/>
                        Tito Vasquez
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento.htm"><img src="images/videos/2.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference">Video XYZ-4</span>
                    <br/>
                    <span class="conference_content">34 views 
                        <br/>
                        Juan Quemada
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div id="conference_next">
                    <img src="images/next_conference.png" alt="next conference" />
                </div>
            </div>
        </div>
    </div>
</div>