 #  Event.future.all.each do |event|


<div class="post_future_conference">
		<div class="future_content">
				<div class="future_picture">
						<img src="images/conferences/2.png" />
				</div>
				<div class="future_description">
						<div class="future_link">
								<a href="evento_live.htm"> #event.name </a>
						</div>
						<div class="future_details">
								<span class="future_brief">Tomorrow, 06 Apr 2010 at 14h00 (GMT +01:00)</span>
						</div>
				</div>
				<div class="future_details">
				</div>
		</div>
</div>

 # end 