<% if current_user.spaces.any? %>
<div id="my_spaces">
    <div id="title_space" class="content_size">
        <%=t('space.my') %>
    </div>
    <div id="spaces_list" class="content_size">
  		<%= render  current_user.spaces %>
    </div>
</div>
<% else %>
<div class="space_center">
</div>
<% end %>



