<% if current_user.spaces.any? %>
<div id="my_spaces">
    <div id="title_space" class="content_size">
        Spaces
    </div>
    <div id="spaces_list" class="content_size">
		<% current_user.spaces.each do |space| %>  
			<%=link_to(image_path(space.logo, :class => 'btn_config', :alt => 'space.name' ),space) %>
		<% end %>
    </div>
</div>
<% else %>
<div id="space_center">
</div>
<% end %>



