<div id="my_spaces">
    <div id="title_space" class="content_size">
        Spaces
    </div>
    <div id="spaces_list" class="content_size">
        <a href="espacio.htm"><img src="images/spaces/1.png" class="btn_config" alt="exit" /></a><a href="espacio.htm"><img src="images/spaces/2.png" class="btn_config" alt="exit" /></a><a href="espacio.htm"><img src="images/spaces/3.png" class="btn_config" alt="exit" /></a><a href="espacio.htm"><img src="images/spaces/4.png" class="btn_config" alt="exit" /></a><a href="espacio.htm"><img src="images/spaces/5.png" class="btn_config" alt="exit" /></a>
    </div>
</div>