<% content_for :javascript do %>
  <%if params[:show_day] %>
     $('#date<%=params[:show_day]%>').addClass("selected");
    $('#agenda_page<%=params[:show_day]%>').show();
  <%else%>
    $('#date1').addClass("selected");
    $('#agenda_page1').show();
  <%end%>
<%end%>

<%if !@event.agenda.nil? and !@event.agenda.start_date.nil? %>
  <div id="tabs" class="block">
    <ul class="tab">
    <li>
      <%for day in @days%>
        <div id='agenda_page<%=day%>'  style="display:none"></div>
      <%end%>
    </li>
    </ul>
    <div id="sessions" class="tab">
      <%sessions = @event.agenda.contents_for_day(day)%>
      <div class="space_center"></div>
      <%for session in sessions%>
        <%#=render :partial =>"sessions/show", :locals =>{:session => session, :expanded => true, :day=>day }%>
      <%end%>
    </div>
  </div>
<%else%>
  <div class="block " >
    <div class="message">No existen sessiones programadas</div>
  </div>
<%end%>
