<div class="dialog_add_tie">
    <div class="content_add_user">
      <div class="activity_add_ties">
        <div>
          Ud. ha enviado enviado su solicitud

           <div class="ties_btn">
             <%= submit_tag t('close'), :class => "follow_btn" %>
           </div>
         
        </div>
      </div>
    </div>
</div>