.clear {
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
	line-height: 0;
}

/******* MENU *******/
#chat {
	margin: auto;
	width: 260px;
	display: inline-block;
	height:390px;
}

#chat ul {
	list-style: none;
	list-style-position: outside;
}

#chat ul.menu li {
	float: left;
	margin-right: 2px;
	margin-bottom: -1px;
}

#chat ul.menu li {
	font-weight: 11px;
	display: block;
	padding: 3px 3px;
	background: #E1EFF8;
	margin-bottom: -1px;
	border: 1px solid #2A3890;
	border-width: 1px 1px 1px 1px;
	position: relative;
	cursor: pointer;
}

#chat ul.menu li:hover {
	color: #2A3890;
}

#chat ul.menu li.active {
	background: #1F4A75;
	top: 1px;
	border-bottom: 0;
	color: #fff;
}

/******* CONTENT-CHAT *******/
.content_chat {
	margin: 0pt auto;
	border: 1px solid #2A3890;
	text-align: left;
	padding-bottom: 5px;
	color: #2A3890;
	font-size: 11px;
}

/******* vcc_chat *******/

.content_chat.vcc_chat a {
	color: #498BBF;
}

.content_chat.vcc_chat {
	display: none;
}

/******* facebook *******/
.content_chat.facebook {

}

/******* twitter *******/
.content_chat.twitter {
	display: none;
}

/******* /twitter *******/
.content_chat .facebook .live_feed_widget {
	font-size: 5px;
}