<% content_for :middle do %>
  <%= render :partial => "layouts/middle" %>
<% end %>

<% content_for :right do %>
  <%= render :partial => "layouts/right" %>
<% end %>

<div id="map_location" class="content_size">
    Your are here ><img src="images/buttons/btn_browse.png" class="btn_config" alt="Browse" />Directory: 
		<span id="name_group">By Video Conference</span>
</div>
<div id="by_options" class="content_size"><a href="browse_espacios.htm">By Spaces</a> - <a href="browse_people.htm">By Contacts</a></div>
<br class="clearfloat" />
<div id="space_center">
</div>
<div id"catogories">
    <div id="title-categories" class="content_size">
        Categories
    </div>
    <div id="content-categories">
        <div class="item-category content_size">
            <img src="images/point_blue.png" alt="blue_button" /><a href="#">Arquitectura(4)</a>
        </div>
        <div class="item-category content_size">
            <img src="images/point_blue.png" alt="blue_button" /><a href="#">Biology(2)</a>
        </div>
        <div class="item-category content_size">
            <img src="images/point_blue.png" alt="blue_button" /><a href="#">Business(59)</a>
        </div>
        <div class="item-category content_size">
            <img src="images/point_blue.png" alt="blue_button" /><a href="#">Chemistry(7)</a>
        </div>
        <div class="item-category content_size">
            <img src="images/point_blue.png" alt="blue_button" /><a href="#">Computers(4)</a>
        </div>
        <div class="item-category content_size">
            <img src="images/point_blue.png" alt="blue_button" /><a href="#">Computer Science(4)</a>
        </div>
        <br/>
        <div class="item-category content_size">
            <img src="images/point_blue.png" alt="blue_button" /><a href="#">Criminology(4)</a>
        </div>
        <div class="item-category content_size">
            <img src="images/point_blue.png" alt="blue_button" /><a href="#">Economics(7)</a>
        </div>
        <div class="item-category content_size">
            <img src="images/point_blue.png" alt="blue_button" /><a href="#">Education(16)</a>
        </div>
        <div class="item-category content_size">
            <img src="images/point_blue.png" alt="blue_button" /><a href="#">Enviroment(4)</a>
        </div>
        <div class="item-category content_size">
            <img src="images/point_blue.png" alt="blue_button" /><a href="#">Events(4)</a>
        </div>
        <div class="item-category content_size">
            <img src="images/point_blue.png" alt="blue_button" /><a href="#">History(4)</a>
        </div>
        <br/>
        <div class="item-category content_size">
            <img src="images/point_blue.png" alt="blue_button" /><a href="#">Humanities(4)</a>
        </div>
        <div class="item-category content_size">
            <img src="images/point_blue.png" alt="blue_button" /><a href="#">Medicine(4)</a>
        </div>
        <div class="item-category content_size">
            <img src="images/point_blue.png" alt="blue_button" /><a href="#">Regional(4)</a>
        </div>
        <div class="item-category content_size">
            <img src="images/point_blue.png" alt="blue_button" /><a href="#">Science(4)</a>
        </div>
        <div class="item-category content_size">
            <img src="images/point_blue.png" alt="blue_button" /><a href="#">History(4)</a>
        </div>
        <div class="item-category content_size">
            <img src="images/point_blue.png" alt="blue_button" /><a href="#">Society(4)</a>
        </div>
        <div class="item-category content_size">
            <img src="images/point_blue.png" alt="blue_button" /><a href="#">Technology(4)</a>
        </div>
    </div>
</div>
<div id="space_center">
</div>
<div id="space_center">
</div>
<div id="my_conferences">
    <div id="tabconference_browse" class="widget content_size">
        <ul class="tabconference_browse">
            <li>
                <a href="#live-conferences"><img src="images/live.png" alt="live-conference" /> Live Conferences(50) </a>
            </li>
            <li>
                <a href="#video-conferences">Video Conferences (1.567)</a>
            </li>
            <li>
                <a href="#most-popular-conferences">Most Popular</a>
            </li>
            <li>
                <a href="#most-voted-conferences">Most Voted</a>
            </li>
        </ul>
        <div id="live-conferences" class="tabconference_browse">
            <div id="space_center">
            </div>
            <div id="letters" class="content_size">
                <a href="#">A</a>
                <a href="#">B</a>
                <a href="#">C</a>
                <a href="#">D</a>
                <a href="#">E</a>
                <a href="#">F</a>
                <a href="#">G</a>
                <a href="#">H</a>
                <a href="#">I</a>
                <a href="#">J</a>
                <a href="#">K</a>
                <a href="#">L</a>
                <a href="#">M</a>
                <a href="#">N</a>
                <a href="#">O</a>
                <a href="#">P</a>
                <a href="#">Q</a>
                <a href="#">R</a>
                <a href="#">S</a>
                <a href="#">T</a>
                <a href="#">U</a>
                <a href="#">V</a>
                <a href="#">W</a>
                <a href="#">X</a>
                <a href="#">Y</a>
                <a href="#">Z</a>
            </div>
            <div id="space_center" class="content_size" >
                <b>LIVE CONFERENCES</b>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento_live.htm"><img src="images/videos/1.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference content_size">Video XYZ-1</span>
                    <br/>
                    <span class="conference_content">15 views 
                        <br/>
                        Morfeo Chief
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento_live.htm"><img src="images/videos/2.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference content_size">Video XYZ-2</span>
                    <br/>
                    <span class="conference_content">97 views 
                        <br/>
                        Antonio Mendo
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento_live.htm"><img src="images/videos/1.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference content_size">Video XYZ-3</span>
                    <br/>
                    <span class="conference_content">56 views 
                        <br/>
                        Tito Vasquez
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento_live.htm"><img src="images/videos/2.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference content_size">Video XYZ-4</span>
                    <br/>
                    <span class="conference_content">34 views 
                        <br/>
                        Juan Quemada
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento_live.htm"><img src="images/videos/1.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference content_size">Video XYZ-1</span>
                    <br/>
                    <span class="conference_content">15 views 
                        <br/>
                        Morfeo Chief
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento_live.htm"><img src="images/videos/2.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference content_size">Video XYZ-2</span>
                    <br/>
                    <span class="conference_content">97 views 
                        <br/>
                        Antonio Mendo
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento_live.htm"><img src="images/videos/1.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference content_size">Video XYZ-3</span>
                    <br/>
                    <span class="conference_content">56 views 
                        <br/>
                        Tito Vasquez
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento_live.htm"><img src="images/videos/2.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference content_size">Video XYZ-4</span>
                    <br/>
                    <span class="conference_content">34 views 
                        <br/>
                        Juan Quemada
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento_live.htm"><img src="images/videos/1.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference content_size">Video XYZ-1</span>
                    <br/>
                    <span class="conference_content">15 views 
                        <br/>
                        Morfeo Chief
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento_live.htm"><img src="images/videos/2.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference content_size">Video XYZ-2</span>
                    <br/>
                    <span class="conference_content">97 views 
                        <br/>
                        Antonio Mendo
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento_live.htm"><img src="images/videos/1.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference content_size">Video XYZ-3</span>
                    <br/>
                    <span class="conference_content">56 views 
                        <br/>
                        Tito Vasquez
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <img src="images/videos/2.png" alt="exit" />
                </div>
                <div>
                    <span class="title_conference content_size">Video XYZ-4</span>
                    <br/>
                    <span class="conference_content">34 views 
                        <br/>
                        Juan Quemada
                    </span>
                </div>
            </div>
            <div id="space_center">
            </div>
            <div id="letters">
                <a href="#">First</a>
                <a href="#">>></a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                4 <a href="#">5</a>
                <a href="#">6</a>
                ... <a href="#">>></a>
                <a href="#">Las</a>
            </div>
            <div id="space_center">
            </div>
        </div>
        <div id="video-conferences" class="tabconference_browse">
            <div id="space_center">
            </div>
            <div id="letters">
                <a href="#">A</a>
                <a href="#">B</a>
                <a href="#">C</a>
                <a href="#">D</a>
                <a href="#">E</a>
                <a href="#">F</a>
                <a href="#">G</a>
                <a href="#">H</a>
                <a href="#">I</a>
                <a href="#">J</a>
                <a href="#">K</a>
                <a href="#">L</a>
                <a href="#">M</a>
                <a href="#">N</a>
                <a href="#">O</a>
                <a href="#">P</a>
                <a href="#">Q</a>
                <a href="#">R</a>
                <a href="#">S</a>
                <a href="#">T</a>
                <a href="#">U</a>
                <a href="#">V</a>
                <a href="#">W</a>
                <a href="#">X</a>
                <a href="#">Y</a>
                <a href="#">Z</a>
            </div>
            <div id="space_center">
                VIDEO CONFERENCES 
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento.htm"><img src="images/videos/1.png" alt="exit" /></a>
                </div>
                <div>
                    <span clarr="title_conference">Video XYZ-1</span>
                    <br/>
                    <span class="conference_content">15 views 
                        <br/>
                        Morfeo Chief
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento.htm"><img src="images/videos/2.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference">Video XYZ-2</span>
                    <br/>
                    <span class="conference_content">97 views 
                        <br/>
                        Antonio Mendo
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento.htm"><img src="images/videos/1.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference">Video XYZ-3</span>
                    <br/>
                    <span class="conference_content">56 views 
                        <br/>
                        Tito Vasquez
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <img src="images/videos/2.png" alt="exit" />
                </div>
                <div>
                    <span class="title_conference">Video XYZ-4</span>
                    <br/>
                    <span class="conference_content">34 views 
                        <br/>
                        Juan Quemada
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento.htm"><img src="images/videos/1.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference content_size">Video XYZ-1</span>
                    <br/>
                    <span class="conference_content">15 views 
                        <br/>
                        Morfeo Chief
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento.htm"><img src="images/videos/2.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference content_size">Video XYZ-2</span>
                    <br/>
                    <span class="conference_content">97 views 
                        <br/>
                        Antonio Mendo
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento.htm"><img src="images/videos/1.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference content_size">Video XYZ-3</span>
                    <br/>
                    <span class="conference_content">56 views 
                        <br/>
                        Tito Vasquez
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento.htm"><img src="images/videos/2.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference content_size">Video XYZ-4</span>
                    <br/>
                    <span class="conference_content">34 views 
                        <br/>
                        Juan Quemada
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento.htm"><img src="images/videos/1.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference content_size">Video XYZ-1</span>
                    <br/>
                    <span class="conference_content">15 views 
                        <br/>
                        Morfeo Chief
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento.htm"><img src="images/videos/2.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference content_size">Video XYZ-2</span>
                    <br/>
                    <span class="conference_content">97 views 
                        <br/>
                        Antonio Mendo
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento.htm"><img src="images/videos/1.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference content_size">Video XYZ-3</span>
                    <br/>
                    <span class="conference_content">56 views 
                        <br/>
                        Tito Vasquez
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <img src="images/videos/2.png" alt="exit" />
                </div>
                <div>
                    <span class="title_conference content_size">Video XYZ-4</span>
                    <br/>
                    <span class="conference_content">34 views 
                        <br/>
                        Juan Quemada
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento.htm"><img src="images/videos/1.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference content_size">Video XYZ-1</span>
                    <br/>
                    <span class="conference_content">15 views 
                        <br/>
                        Morfeo Chief
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento.htm"><img src="images/videos/2.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference content_size">Video XYZ-2</span>
                    <br/>
                    <span class="conference_content">97 views 
                        <br/>
                        Antonio Mendo
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento.htm"><img src="images/videos/1.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference content_size">Video XYZ-3</span>
                    <br/>
                    <span class="conference_content">56 views 
                        <br/>
                        Tito Vasquez
                    </span>
                </div>
            </div>
            <div class="conferencex">
                <div>
                    <a href="evento.htm"><img src="images/videos/2.png" alt="exit" /></a>
                </div>
                <div>
                    <span class="title_conference content_size">Video XYZ-4</span>
                    <br/>
                    <span class="conference_content">34 views 
                        <br/>
                        Juan Quemada
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id="most-popular-conferences" class="tabconference_browse">
        <div id="space_center">
        </div>
        <div id="letters">
            <a href="#">A</a>
            <a href="#">B</a>
            <a href="#">C</a>
            <a href="#">D</a>
            <a href="#">E</a>
            <a href="#">F</a>
            <a href="#">G</a>
            <a href="#">H</a>
            <a href="#">I</a>
            <a href="#">J</a>
            <a href="#">K</a>
            <a href="#">L</a>
            <a href="#">M</a>
            <a href="#">N</a>
            <a href="#">O</a>
            <a href="#">P</a>
            <a href="#">Q</a>
            <a href="#">R</a>
            <a href="#">S</a>
            <a href="#">T</a>
            <a href="#">U</a>
            <a href="#">V</a>
            <a href="#">W</a>
            <a href="#">X</a>
            <a href="#">Y</a>
            <a href="#">Z</a>
        </div>
        <div id="space_center">
            MOST POPULAR  CONFERENCES 
        </div>
    </div>
    <div id="most-voted-conferences" class="tabconference_browse">
        <div id="space_center">
        </div>
        <div id="letters">
            <a href="#">A</a>
            <a href="#">B</a>
            <a href="#">C</a>
            <a href="#">D</a>
            <a href="#">E</a>
            <a href="#">F</a>
            <a href="#">G</a>
            <a href="#">H</a>
            <a href="#">I</a>
            <a href="#">J</a>
            <a href="#">K</a>
            <a href="#">L</a>
            <a href="#">M</a>
            <a href="#">N</a>
            <a href="#">O</a>
            <a href="#">P</a>
            <a href="#">Q</a>
            <a href="#">R</a>
            <a href="#">S</a>
            <a href="#">T</a>
            <a href="#">U</a>
            <a href="#">V</a>
            <a href="#">W</a>
            <a href="#">X</a>
            <a href="#">Y</a>
            <a href="#">Z</a>
        </div>
        <div id="space_center">
            MOST VOTED  CONFERENCES 
        </div>
    </div>
</div>