/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require social_stream-base
 *= require social_stream-documents
 *= require_tree . 
*/

#event_name{
  border: 1px solid #BDC7D8;
  padding: 5px;
  width: 95%;
}
.space_center_manage
{
    padding-right: 0;
    padding-top: 9px;
    text-align: left;
}
.tie_form
{
    display: inline;
    height: 1%;
    margin: 0 0;
    overflow: hidden;
    float: right;
}
#contact_data
{
width: 250px;
}
