/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require social_stream-base
 *= require social_stream-documents
 *= require_tree . 
*/

#calendar{
  margin-top:-9px;
}
#fc-btn-agenda{
  padding-left: 1px;
}


#event_name{
  border: 1px solid #BDC7D8;
  padding: 5px;
  width: 95%;
}

#agenda_content{padding:3px 8px;}
#agenda_content #agenda_pages.no_date{border-top:1px solid #FFD324;}
#new_entry_content{background:#f7f7f7;padding:9px 40px;}
input#agenda_entry_title,#agenda_entry_description,#agenda_entry_embedded_video{width:99%;}
.agenda_entry_description{position:relative;clear:both;overflow:hidden;}
#entry_start_time,#entry_end_time{display:inline-block;}
#entry_start_time .timeEntry_wrap,#entry_end_time .timeEntry_wrap{width:25%;}
#entry_end_time{margin-left:20px;}
#entry_attachment{position:relative;display:block;clear:both;}
#event_description_content p,#new_entry_content p{margin:0;}


#agenda_tabs{margin-top:6px;background:url("tab_bottom.png") repeat-x bottom;}
#agenda_tabs ul{list-style-type:none;margin:0;margin-left:9px;font-size:0.9166em;line-height:1.6363;font-weight:bold;}

#agenda_tabs li{
	display:inline-block;
	padding:0.25em 0.75em;
	text-decoration:none;
	background:#FFD324;/*amarillo oscuro*/
	color:#514721;
	border:1px solid #FFD324;}/*background:#FFF6BF;color:#514721;border-color:#FFD324;*/

#agenda_tabs li{
	-webkit-border-radius-topleft:5px;
	-webkit-border-radius-topright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	}

#agenda_tabs li:hover{
	background:#FFF6BF;
	color:#514721;
	cursor:pointer;
	}

#agenda_tabs .selected{
	background:#FFF6BF;
	color:#514721;
	border-bottom-color:#FFF6BF;
	}
#agenda_tabs .selected:hover{
	background:#FFF6BF;
	color:#514721;
	cursor:pointer;
	}

.agenda_tab{padding:12px 8px 6px 8px;background:#FFF6BF;border-bottom:1px solid #FFD324;border-left:1px solid #FFD324;border-right:1px solid #FFD324;overflow:hidden;}

.agenda_list_content{
	float:left;
  list-style-type: none;
  margin: 0.75em 0.75em 0.5em 0.75em;
  width:73%;
}

.agenda_list_content p{
	margin:0;
}
#agenda_title_label{
  float: left;
  width: 100%;
}

tr.version_expanded{
	background-color:#ffcf72;

}
td.attachment-updated{
	color:#244974;
}
tr.version_expanded td{
	font-weight:bold;
}
.version_number{
	color: #ba3939;
	font-weight:bold;
}


#event_description_wrapper,#event_repo,#participation_url,#streaming_url{background:#f7f7f7;}
#doc_repository thead{
	background:#BDD8EB;
	margin:0;
	}

#participation_url_value p,#streaming_url_value p{max-width:490px;}
#agenda_title span{padding:2px 8px;}
#event_description_line,#agenda_title,#repository_title,#recordings_title,#participation_title,#streaming_title{cursor:pointer;}
h3#event_description_title,#agenda_title h3,#recordings_title h3, #carrusel_title h3,#repository_title h3,#participation_title h3,#streaming_title h3,#agenda_blue_title h3{
	padding:3px 8px;
	background:#bdd8eb;
	margin:0;
	border-top:1px solid #A8C0D1;
	}
.agenda_new_entry #agenda_blue_title h3{clear:both;}
#carrusel_title h3 {padding-right:0;}

h3#event_description_title div,#agenda_title div,#participation_title div,#streaming_title div,#repository_title div{display:inline;width:16px;}
h3#event_description_title div img,#agenda_title div img,#participation_title div img,#participation_title div img,#streaming_title div img,#repository_title div img{margin:0 0 1px 0;}
#agenda_title a.group_links{margin-top:4px;margin-right:8px;}
#event_description_line a,#participation_url a#edit_participation_icon,#participation_url a#edit_participation_icon,#streaming_url a#edit_streaming_icon{float: right;margin-right:8px;margin-top:3px;}
#event_description_content,#repository_content,#participation_content,#streaming_content{border-top:1px solid #ebebeb;border-bottom:1px solid #ccc;padding:3px 8px;}
#streaming_content{margin-bottom:0.75em;}


.session_wrapper1,.session_wrapper2{float:left;display:block;}
.session_wrapper1{
	width:14%;
	text-align:center;
	margin:15px 0 15px 0;
	color:#514721;
	}
.session_wrapper2{width:86%;}

.event_day{font-size: 3em;line-height:90%;}
.event_month{font-size: 2em;line-height:70%;}
.event_hour{font-size: 1.2em;min-width: 30px; min-height: 20px;}

.entry_name{
  width:410px;
  /*background:#f0f6f9;*/
  font-size: 1.1667em;
  font-weight: bold;
  line-height: 1.2857;
  margin-left: 5px;
}
