/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require social_stream-base
 *= require social_stream-documents
 *= require_tree . 
*/

#calendar{margin-top:-9px;}
#fc-btn-agenda{ padding-left: 1px;}

#founder{ padding: 1px; padding-top: 5px; text-align: center; }
#founder #created{display: inline-block;}
#founder #thumb{display: inline-block;}


#event_name{
  border: 1px solid #BDC7D8;
  padding: 5px;
  width: 95%;
}

.space_center_manage
{
  padding-right: 0;
  padding-top: 9px;
  text-align: left;
}
.tie_form {
  display: inline;
  height: 1%;
  margin: 0 0;
  overflow: hidden;
}
#contact_data{width: 250px;}


.session_wrapper1,.session_wrapper2{float:left;display:block;}
.session_wrapper1{
	width:14%;
	text-align:center;
	margin:15px 0 15px 0;
	color:#000;
	}
.session_wrapper2{width:86%;padding-top: 5px;}

.event_date_image{margin: 0px 10px 0px 0px;width:100%;color:black;text-align:center;font-weight: bold;vertical-align: middle;}
.event_day{font-size: 3.5em;line-height:90%;}
.event_month{font-size: 2.5em;line-height:80%;}
.event_year{font-size: 1.2em;line-height:110%;}
.event_hour{font-size: 1.5em;line-height:80%;min-width: 30px; min-height: 20px;}
.event_day_name{font-size: 1em;line-height:80%;}
.event_time{font-size: 1em; line-height:50%;}

.session_title{
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.schedule{ height: 85px;}

.block .session{height: 110px;}
.block .session_title_black {color: black;}
.block .session_content{font-size: 13px;}
