@CHARSET "ISO-8859-1";

body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:10px;
}
.CaptionClass{
	font-weight:bold;
}
.onOverClass{
	border-top:#D6D9DE solid 1px;
	background-color:#ECEEF4;
}
.onOutClass{
	border-top:#D6D9DE solid 1px;
	background-color:#ffffff;
}
.onClickClass{
	border:#3B59B6 solid 1px;
	background-color:#6D84B4;
	color:#FFFFFF;
}
.hscClickClass{
	background-color:#7288B7;
	color:#FFFFFF;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
}
.hscOutClass{
	color:#6D84B4;
	background-color:#FFFFFF;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
}


.area{
	border:1px #000000 solid;
	background-color:#c8c8c8;
	padding:20px;
}
