<div class="div_busqueda">
          <div id="subtexto_busqueda">
             
            |
            <a href="help">Help</a>
        </div>      
       <%= yield :search%>
       
</div>
<br class="clearfloat" />
  
