<div id="global-wrapper">
    <div id="global" class="banner">
        <a href="/"><img src="/images/frontpage/logo.png" id="logo" alt="" /></a>
        <div id="espacio_header">
            &nbsp
        </div>
        <br class="clearfloat" />
    </div>
</div>
