<div id="middleContent">
    <div class="space_center">
    </div>
    <div class="space_center">
    </div>
    <div class="space_center">
    </div>
	<div class="space_center">
    </div>
    <div class="future_conference">
        <div class="future_header">
            <img src="images/live.png" alt="live-conference" class="future_picture_icon" />
            <div class="future_text_header">
                Live  Conferences
            </div>
            <div class="title_righ">
                <a href="#">Ver Todas</a>
            </div>
        </div>
			<%= render :partial => "home/myliveconferences" %>


    </div>
    <div class="future_conference">
        <div class="future_header">
            <img src="images/notifications.png" alt="Notifications" class="future_picture_icon" />
            <div class="future_text_header">
                Upcoming
            </div>
            <div class="title_righ">
                <a href="#">Ver Todas</a>
            </div>
        </div>
        <div class="post_future_conference">
            <div class="future_content">
                <div class="future_picture">
                    <img src="images/conferences/2.png" />
                </div>
                <div class="future_description">
                    <div class="future_link">
                        <a href="evento_upcomming.htm">Congreso Web2.0 - 2012</a>
                    </div>
                    <div class="future_details">
                        <span class="future_brief">Tomorrow, 06 Apr 2010 at 14h00 (GMT +01:00) </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="future_conference">
        <div class="future_header">
            <img src="images/notifications.png" alt="Sugerencias" class="future_picture_icon" />
            <div class="future_text_header">
                Sugestions
            </div>
            <div class="title_righ">
                <a href="#">Ver Todas</a>
            </div>
        </div>
        <div class="post_future_conference">
            <div class="future_content">
                <div class="future_picture">
                    <img src="images/contacts/1.png" width="55px" height="40px"/>
                </div>
                <div class="future_description">
                    <div class="future_link">
                        <a href="#">Olguita Martin</a>
                    </div>
                    <div class="future_brief">
                        18 contacts in commom 
                    </div>
                    <a href="#">+ Add as contact</a>
                </div>
            </div>
        </div>
        <div class="post_future_conference">
          <% if (space = current_user.suggested_space).present? %>
            <div class="future_content">
                <div class="future_picture">
                    <img src="images/spaces/2.png" width="55px" height="40px" />
                </div>
                <div class="future_description">
                    <div class="future_link">
                      <%= link_to space.name, space %>
                    </div>
                    <div class="future_brief">
                        18 followers contacts
                        <br/>
                    </div>
                    <%= link_to "+ Follow",
                                ties_path("tie[sender_id]" => current_user.actor.id,
                                          "tie[receiver_id]" => space.actor.id,
                                          "tie[relation_name]" => "follower"),
                                :method => :post,
                                :remote => true %>


                </div>
            </div>
          <% end %>
        </div>
    </div>
</div>
