<div id="middleContent">
    <div class="space_center">
    </div>
    <div class="space_center">
    </div>
    <div class="space_center">
    </div>
	  <div class="space_center">
    </div>
    <%= render :partial => "ties/suggestions" %>
</div>
