<div id="rightContent">
    <div id="space_center">
    </div>
    <div id="space_center">
    </div>
    <div id="space_center">
    </div>
    <div id="space_center">
    </div>	
    <div id="logo">
        <img src="images/thumb_profile/1.png" alt="Ariana Garcia" />
        <br/>
        Ariana García León
    </div>
    <div id="space_center">
    </div>
    <div id="menu_lateral">
        <div class="option_menu">
            <img src="images/buttons/btn_profile.png" />
            <div class="text_menu">
                <a href="myprofile.htm">Profile</a>
            </div>
        </div>
        <div class="option_menu">
            <img src="images/buttons/btn_inbox.png" />
            <div class="text_menu">
                <a href="#">Inbox(2)</a>
            </div>
        </div>
        <div class="option_menu">
            <img src="images/buttons/btn_photo.png" />
            <div class="text_menu">
                <a href="#">Photos</a>
            </div>
        </div>
        <div class="option_menu">
            <img src="images/buttons/btn_follower.png" />
            <div class="text_menu">
                <a href="#">Contacts</a>
            </div>
        </div>
    </div>
    <div id="space_center_border">
    </div>
    <div id="space_center">
    </div>
    <div id="sub_menu_lateral">
        <div class="option_menu">
            <img src="images/buttons/btn_video.png" />
            <div class="text_menu">
                <a href="#">Spaces</a>
            </div>
        </div>
        <div class="option_menu">
            <img src="images/buttons/btn_video.png" />
            <div class="text_menu">
                <a href="#">VideoConferences(2)</a>
            </div>
        </div>
        <div class="option_menu">
            <img src="images/buttons/btn_conferences.png" />
            <div class="text_menu">
                <a href="#">Congress</a>
            </div>
        </div>
        <div class="option_menu">
            <img src="images/buttons/btn_certificates.png" />
            <div class="text_menu">
                <a href="#">Certificates</a>
            </div>
        </div>
    </div>
</div>

</div>
